* {
    font-family: 'Bebas Neue', 'Helvetica Neue', sans-serif;
    box-sizing: border-box;
}

h1 {
    font-size: 40px;
}

#mainContainer {
    padding: 80px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#mainContainer > div {
    display: flex;
    gap: 30px;
    margin-bottom: 80px;
}


button {
    color: white;
    background-color: black;
    border-radius: 30px;
    border: none;
    width: 320px;
    height: 80px; 
    font-size: 30px;
    margin-bottom: 30px;
}

button:hover,
img:hover {
    scale: 105%;
    opacity: 80%;
    transition-duration: 30ms;
}


button:active,
img:active {
    scale: 95%;
    opacity: 100%;
    transition-duration: 30ms;
}

#playerContainer,
#comContainer {
    background-color: #E2E56E;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 40px;
    padding: 10px 40px;
}

#playerContainer {
    background-color: #E2E56E;
}

#comContainer {
    background-color: coral;
}

#playerChoices,
#comChoices {
    display: flex;
    gap: 30px;
}

#playerChoices div,
#comChoices div {
    display: flex;
    flex-direction: column;
    align-items: center;
}